{%  extends 'base.html.twig' %}
{% block title %}Places{% endblock %}
{% block body %}

<!-- breadcrumb-section - start
		================================================== -->
		<section id="breadcrumb-section" class="breadcrumb-section clearfix">
			<div class="jarallax" style="background-image: url(Client/assets/images/breadcrumb/0.breadcrumb-bg.jpg);">
				<div class="overlay-black">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 col-md-12 col-sm-12">

								<!-- breadcrumb-title - start -->
								<div class="breadcrumb-title text-center mb-50">
									<span class="sub-title">Eventeasy events</span>
									<h2 class="big-title">Eventeasy <strong>event</strong></h2>
								</div>
								<!-- breadcrumb-title - end -->

								<!-- breadcrumb-list - start -->
								<div class="breadcrumb-list">
									<ul>
										<li class="breadcrumb-item"><a href="index-1.html" class="breadcrumb-link">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Places</li>
									</ul>
								</div>
								<!-- breadcrumb-list - end -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-section - end
		================================================== -->





		<!-- event-search-section - start
		================================================== -->
		<section id="event-search-section" class="event-search-section clearfix" style="background-image: url(Client/assets/images/special-offer-bg.png);">
			<div class="container">
				<div class="row">

					<!-- section-title - start -->
					<div class="col-lg-4 col-md-12 col-sm-12">
						<div class="section-title">
							<small class="sub-title">Find best places on Eventeasy</small>
							<h2 class="big-title">search <strong>Places</strong></h2>
						</div>
					</div>
					<!-- section-title - end -->

					<!-- search-form - start -->
					<div class="col-lg-8 col-md-12 col-sm-12">
						<div class="search-form form-wrapper">
							<form action="#!">

								<ul>
									<li>
										<span class="title">places keyword</span>
										<div class="form-item">
											<input type="search" placeholder="Place name,location,etc">
										</div>
									</li>
								
									<li>
										<button type="submit" class="submit-btn">search now</button>
									</li>
								</ul>
								
							</form>
						</div>
					</div>
					<!-- search-form - end -->
					
				</div>
			</div>
		</section>
		<!-- event-search-section - end
		================================================== -->



<div class="album py-5 bg-light">
    <div class="container">

        <div class="album py-5 bg-light">
            <div class="post-container">
                <div class="row">
                    {% for lieu in l %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="margin-left: 30px;">
                        <div class="card mb-4 shadow-sm" style="width: 300px;">
                            {% if lieu.image is defined %}
                                <img class="card-img-top" src="{{ asset('uploads/' ~ lieu.image) }}" alt="Image du lieu" style="width: 100%; height: 200px; object-fit: cover;">
                            {% else %}
                                <div class="image-placeholder" style="width: 100%; height: 200px; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">Pas d'image disponible</div>
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title yellow-color">{{ lieu.nom }} ,{{ lieu.region }}</h5>
                                <p class="card-text">Capacity: {{ lieu.capacity}}</p>
                                <p class="card-text">Prix: {{ lieu.prix }}</p>
                                <a href="#!"  class="btn btn-outline-warning">Réserver</a>
                               
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
