{% extends 'base.html.twig' %}

{% block body %}
    <h1>Réserver {{ lieu.nom }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.startDate) }}
        {{ form_row(form.endDate) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
