{% extends 'baseAdmin.html.twig' %}

{% block title %}EvenatEasy{% endblock %}

{% block body %}
    {%  block search  %}
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="POST" action="#">
            <input id="searchreclamation" type="text" name="query" placeholder="Search" title="Enter search keyword">
          </form>
        </div><!-- End Search Bar -->
        {% endblock %} 
    <section id="main-carousel2" class="main-carousel2 clearfix">
        <div class="item" style="background-image: url(Client/assets/images/slider/slider-bg4.jpg);">
            <div class="overlay-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h1 class="card-title">Liste des Réclamations</h1>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Description</th>
                                                <th>Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for reclamation in reclamations %}
                                                <tr>
                                                    <td>{{ reclamation.id }}</td>
                                                    <td>{{ reclamation.description }}</td>
                                                    <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                                                    <td>
                                                        <a href="{{ path('app_reclamation_showadmin', {'id': reclamation.id}) }}" class="btn btn-info btn-sm">
                                                            <i class="bi bi-eye"></i> Show
                                                        </a>
                                                        <a href="{{ path('repondre_reclamation', {'reclamationId': reclamation.id}) }}" class="btn btn-warning btn-sm">
    <i class="bi bi-pencil"></i> Réponse
</a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">No records found</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
            <tr>
                <td colspan="4">
                    {{ knp_pagination_render(reclamations) }}
                </td>
            </tr>
        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script>
		$(document).ready(function () {
			// Function to perform the search based on the specified keyword
			function searchOffer(keyword) {
				$(".table tbody tr").each(function () {
					var found = false;
					$(this).find("td").each(function () {
						if ($(this).text().toLowerCase().includes(keyword.toLowerCase())) {
							found = true;
							return false; // Exit the loop
						}
					});
					$(this).toggle(found); // Show/hide the row based on search result
				});
			}
	
			// Event handler for the search input
			$("#searchreclamation").on("keyup", function () {
				var searchText = $(this).val();
				searchOffer(searchText);
			});
		});
	</script>
{% endblock %}
