{% extends 'baseAdmin.html.twig' %}

{% block body %}
                
<div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
              <h2>Kevin Anderson</h2>
              <h3>Web Designer</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                

                <li class="nav-item">
                    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                              <div class="col-12">
                                        <label for="yourName" class="form-label">Your first Name</label>

                                        <div class="invalid-feedback">Please, enter your first name!</div>
                                        {{ form_widget(form.fname,{'attr':{'class':'form-control'}}) }}
                                         {{ form_errors(form.fname) }} 
                                </div>
                                <div class="col-12">
                                        <label for="yourName" class="form-label">Your last Name</label>

                                        <div class="invalid-feedback">Please, enter your last name!</div>
                                      {{ form_widget(form.lname,{'attr':{'class':'form-control'}}) }}  
                                       {{ form_errors(form.lname) }}
                                </div>

                                 <div class="col-12">
                                        <label for="yourphonenumber" class="form-label">Your phone number </label>
                                         {{ form_widget(form.phonenumber,{'attr':{'class':'form-control', 'pattern': '\d{8}', 'title': 'Please enter an 8-digit phone number'}}) }}
                                                              <div class="invalid-feedback">Please enter your 8-digit phone number!</div>
															   {{ form_errors(form.phonenumber, {'attr': {'class': 'text-danger'}}) }}
                                    </div>

                                    <div class="col-12">
                                        <label for="yourEmail" class="form-label">Your Email</label>
                                        {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }} 
                                        <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                                         {{ form_errors(form.email, {'attr': {'class': 'text-danger'}}) }}
    </div>
                                    </div>



                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                       {{ form_widget(form.password.first,{'attr':{'class':'form-control'}}) }} 
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Confirm Password</label>
                                   {{ form_widget(form.password.second,{'attr':{'class':'form-control'}}) }}
                                    <div class="invalid-feedback">Please confirm your password!</div>
                                </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required="">
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Edit</button>
                                    </div>
                                    
                                    
                                {{ form_end(form) }}
                </li>

               

                

              </ul>
{% endblock %}