{% extends 'base.html.twig' %}

{% block title %}
EvenatEasy
{% endblock %}

{% block body %}
      
      
      
      
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-header">
                       
                    </div>
                    <div class="card-body" style="background-image: url('public/Client/assets/images/slider/R.jpg'); background-size: cover;">
                       {% for e in evenement %}
                       
                        <table class="table">
                            <tr>
                                <th>Title:</th>
                                <td>{{ e.Title }}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{ e.Email }}</td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>{{ e.Phone }}</td>
                            </tr>
                            <tr>
                                <th>Date:</th>
                                <td>{{ e.Date|date('d/m/Y') }}</td>
                            </tr>
                            <tr>
                                <th>Category:</th>
                                <td>
                                    {% if e.categoryid is not null %}
                                        {{ e.categoryid.Type }}
                                    {% else %}
                                        categoryid is null
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <div class="text-center">
                                    <td>
                                        <a href="" class="btn btn-primary">EDIT</a> 
                                    </td>
                               
                                    <td>
                                        <a href="" class="btn btn-danger">DELETE</a>  
                                    </td>
                               
                                </div>
                            </tr>

                        </table>
                       
                        {% endfor %}
                        
                            
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
